*{
margin: 0%;
padding: 0%;
}
body{
    margin: 0%;
    background:rgb(0, 140, 255);
}

main .container {
    width: 50%;
    height: 30%;
    background-color: rgb(33, 36, 66);
    border-radius: 4px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 7px 13px 37px black;
    padding-bottom: 100px;
}
main .container h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}
.controls {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border: 1px solid #1f53c5;
    background-color: rgb(33, 36, 66);
    color: white;
}
main .container a {
    text-decoration: none;
    color: white; 
}
main .container a:hover {
    text-decoration: none;
    color: white; 
    text-decoration: underline;
}
.container p {
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    
}
.container .boton {

            width: 100%;
            padding: 12px;
            background: #1f53c5;
            border: none;
            border-radius: 5px;
            color: white;
            margin: 16px 0;
            box-shadow: black;
            animation: pulse 1.5s infinite;


}
.container .boton:hover{
    cursor:pointer;
}
@keyframes pulse {

    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0 );
    }

    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }

}

footer {
    width: 100%;
    height: 150px;
    background: #4c4c4c;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0%;
}
footer h1 {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}